@CHARSET "UTF-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre, form,
	fieldset, input, textarea, p, label, blockquote, th, td, button, span {
	padding: 0;
	margin: 0;
}

body {
	font: 12px/1.5 Arial, "å®‹ä½“";
	color: #4b4b4b;
	background: #fff;
}

* html, * html body {
	background-image: url(about:blank);
	background-attachment: fixed;
}

table {
	border-collapse: collapse;
}

fieldset, img {
	border: none;
}

address, caption, cite, code, dfn, th, var, em {
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

input, select, button {
	vertical-align: middle;
	font-size: 12px;
}

address, em {
	font-style: normal;
}

img {
	display: inline-block;
}

a {
	text-decoration: none;
	color: #4b4b4b
}

a:hover {
	color: #aa2e44
}

del {
	font-family: "Î¢ï¿½ï¿½ï¿½Åºï¿½"
}

.c99 {
	color: #999;
}

.m_r10 {
	margin-right: 10px
}

.m_b10 {
	margin-bottom: 10px;
}

.f_l {
	float: left
}

.f_r {
	float: right;
	line-height: 34px;
}

.t_r {
	text-align: right
}

.clear {
	clear: both;
	font-size: 1px;
	line-height: 0;
	height: 0px;
	*zoom: 1;
}

.wrapper {
	margin: 0 auto;
}

#header h1 a, .tel, .buy_list, .lgray_btn, .lgray_btn, .today_goods h2,
	.price, .blayout h2, .us_virtue span {
	background-image: url(http://images.d1.com.cn/Index/images/spring.png);
	background-repeat: no-repeat;
	background-position: -0px -15px;
}

/*ï¿½×²ï¿½*/
.other_help {
	background: #f0f0f0;
	margin-top: 10px;
	overflow: hidden;
	height: 226px;
	padding-top: 10px;
}

.logo2 {
	width: 200px;
	height: 100px;
	background:
		url('http://images.d1.com.cn/images2012/index2012/footlogo1.jpg');
	display: inline-block
}

.us_virtue span {
	width: 200px;
	height: 50px;
	display: inline-block;
	margin-right: 54px;
}

.us_virtue .true {
	background-position: -76px -870px;
}

.us_virtue .back {
	background-position: -76px -925px;
}

.us_virtue .free {
	background-position: -76px -985px;
}

.other_help dl {
	float: left;
	margin: 20px 40px 0 0
}

.other_help dt {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

.other_help dd {
	line-height: 24px;
}

.other_help dd a {
	color: #818181;
}

.other_help dd a:hover {
	color: #aa2e44
}

#footer {
	width: 980px;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
	color: #7b7b7b;
	line-height: 24px;
}

#footer a {
	margin: 0 5px
}

#footer span {
	display: inline-block;
	width: 337px;
}

/* Header */
.title2012 {
	color: #fff;
	margin: 0px auto;
}

.title2012 td {
	line-height: 35px;
}

.title2012 a {
	color: #fff;
}

.title2012 a:hover {
	text-decoration: underline;
}

.head h1 a {
	width: 161px;
	height: 71px;
	display: inline-block;
	float: left;
}

#Header {
	margin: 0px auto;
	background-image:
		url('http://images.d1.com.cn/images2012/index2012/headbg.gif');
	height: 166px;
	position: relative;
	background-position: 0 -102px;
	z-index: 99999
}

.head {
	width: 980px;
	margin: 0px auto;
	color: #fff;
}

.head a {
	color: #fff;
}

.gray_btn {
	color: #8cc341;
}

.ShowWelcome {
	line-height: 34px;
	float: right;
}

.tel {
	float: right;
	background-position: -91px -1050px;
	height: 50px;
	width: 190px;
	text-indent: -9999px;
	display: inline-block
}

.mobileweb {
	float: right;
	height: 50px;
	width: 60px;
	text-indent: -9998px;
	display: inline-block;
	background-image: url(http://images.d1.com.cn/Index/images/wap.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.mobileweb a {
	height: 50px;
	width: 60px;
	display: inline-block;
	float: left;
	text-indent: -9999px;
	display: inline-block;
}

.pinganlogo {
	float: left;
	background-position: right 10px;
	height: 50px;
	width: 500px;
	text-indent: -9999px;
	display: inline-block;
	background-image:
		url(http://images.d1.com.cn/head2011img/pinganlogo.gif);
	background-repeat: no-repeat;
}

#header .ShowWelcome {
	width: 300px;
}
/*.search_box {clear:both;margin:0 auto;width:276px;padding-top:5px;position:relative;}
.search_box .search_layout{float:left;width:276px;}*/
.search_layout #ffb9 {
	width: 276px;
	height: 30px;
	background:
		url(http://images.d1.com.cn/images2012/index2012/hsearch1.gif)
		no-repeat;
	padding: 0px;
	margin-top: 13px;
}

.search_layout em {
	border: #d9d9d9 1px solid;
	display: inline-block;
	float: left;
	height: 26px;
	line-height: 26px;
	width: 171px;
	margin-left: 210px;
}

.search_layout input {
	width: 205px;
	padding: 2px;
	color: #999;
	background: #efeff1;
	border: none;
	margin: 3px;
	height: 18px;
	margin-top: 4px;
}

.search_layout .ffb-arrow {
	display: none;
}

.search_layout .ffb-arrow.out {
	
}

.search_layout .ffb-arrow.over {
	
}

.search_layout .ffb-arrow.active {
	
}

.search_layout .ffb {
	position: absolute;
	overflow: hidden;
	border-left: 1px solid #828790;
	border-right: 1px solid #828790;
	background-color: #fff;
}

.search_layout .ffb .content {
	overflow: auto;
}

.search_layout .ffb .content .row {
	color: #000;
	height: 30px;
	clear: both;
	line-height: 30px;
	padding-left: 6px;
}

.search_layout .ffb .ffb-sel {
	cursor: pointer;
	cursor: hand;
	color: #fff !important;
	background-color: #39F;
}

.search_layout .ffb .ffb-match {
	font-weight: bold;
	color: #000;
}

.search_layout .ffb .paging {
	vertical-align: middle;
	border-bottom: 1px solid #828790;
}

.search_layout .ffb .page, .search_layout .ffb a.page {
	font-size: 85%;
	padding: 2px;
	border: solid 1px #339;
	background-color: #eef;
	margin: 2px;
}

.search_layout .ffb .box {
	width: 30px;
	margin: 2px;
}

.search_layout .ffb .summary {
	font-size: 85%;
}

.lgray_btn {
	line-height: 30px;
	display: block;
	text-align: center;
	float: right;
	padding-top: 3px;
	padding-left: 5px;
}

.hot_search {
	color: #d1d1d1;
}

.hot_search a {
	color: #d1d1d1;
}

.searchtxt {
	margin-left: 8px;
	margin-top: 2px;
	_margin-top: 0px; +
	margin-top: 0px;
	margin-top: 1px\0;
}

#menu {
	background-image:
		url(http://images.d1.com.cn/images2012/index2012/dht1.jpg);
	height: 42px;
	margin: 0px auto;
	line-height: 42px;
}

.wrapper {
	width: 980px;
	margin: 0 auto;
	clear: both;
	position: relative;
}

#menu .menul {
	float: left;
	width: 171px;
}

ul.nav {
	position: relative;
	z-index: 999;
	color: #f6ebeb;
}

#menu ul {
	float: left;
	font-family: "å¾®è½¯é›…é»‘";
	height: 42px;
	padding-left: 20px;
	line-height: 42px;
	_line-height: 44px;
}

#menu li {
	float: left;
	height: 34px;
	line-height: 34px;
	width: 65px;
	padding-top: 2px;
	color: #9f4948;
	/*background-image: url(http://images.d1.com.cn/images2012/index2012/indexlin2.gif);
	background-repeat: no-repeat;
	background-position: right 15px;*/
}

#menu .linno {
	background: none;
}

#menu li a {
	width: 65px;
	margin-top: 2px;
	margin-bottom: 2px;
	display: inline-block;
	color: #f6ebeb;
	font-size: 18px;
	text-align: center;
	_overflow: hidden;
	font-family: "å¾®è½¯é›…é»‘";
}

#menu .menu_bgs {
	float: left;
	height: 37px;
	width: 65px;
	background-position: -220px -230px;
}

#menu li.hover {
	width: 65px;
	height: 40px;
	background-image:
		url(http://images.d1.com.cn/images2012/index2012/hover2.png);
	background-repeat: no-repeat;
	background-position: center 7px;
	font-family: "å¾®è½¯é›…é»‘";
}

#menu li.current_page_item {
	width: 65px;
	height: 40px;
	background-image:
		url(http://images.d1.com.cn/images2012/index2012/hover2.png);
	background-repeat: no-repeat;
	background-position: center 7px;
	font-family: "Î¢å¾®è½¯é›…é»‘";
}

#menu li.hover2 {
	width: 65px;
	height: 40px;
	background-image:
		url(http://images.d1.com.cn/images2012/index2012/hover5.png);
	background-repeat: no-repeat;
	background-position: center 9px;
	font-family: "å¾®è½¯é›…é»‘";
}

#menu li.current_page_item2 {
	width: 65px;
	height: 40px;
	background-image:
		url(http://images.d1.com.cn/images2012/index2012/hover5.png);
	background-repeat: no-repeat;
	background-position: center 9px;
	font-family: "å¾®è½¯é›…é»‘";
}

#menu .buy_list {
	float: right;
	width: 153px;
	height: 30px;
	margin-top: 5px;
	display: block;
	line-height: 30px;
	background:
		url('http://images.d1.com.cn/images2012/index2012/carbg1.gif');
	text-align: center;
	cursor: pointer;
	padding-left: 10px;
}

#menu .buy_list em {
	color: #c04c61;
	margin: 0 5px;
	font-weight: bold
}

.themes li {
	float: left;
	width: 58px;
	height: 34px;
	line-height: 34px;
}

.themes li a {
	width: 56px;
	height: 29px;
	over-flow: hidden;
	font-size: 17px;
	color: #fff;
}

.themes li a:hover {
	background:
		url('http://images.d1.com.cn/images2012/index2012/hover.png');
}

.cart {
	z-index: 10001;
	position: absolute;
	border: #c5c5c5 1px solid;
	background: #fff;
	right: 0;
	top: 33px;
	width: 407px;
	display: none;
}

.area_info {
	height: 30px;
	line-height: 30px;
	background: #f9f9f9;
	padding: 5px 10px;
}

.cart em {
	color: #c14d62;
	font-weight: bold;
	margin: 0 3px;
	font-family: "å¾®è½¯é›…é»‘";
}

.cart td {
	border-bottom: #cdcdcd 1px dotted
}

/* ï¿½ï¿½ï¿½ï¿½ï¿½ã°´Å¥ï¿½Í±ï¿½ï¿½ï¿½Í¼Æ¬*/
/* ï¿½ï¿½ï¿½ï¿½ */
.breakall {
	overflow: hidden;
	word-break: keep-all;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mar10 {
	margin-top: 10px;
}

.mar20 {
	margin-top: 20px;
}

.lmar10 {
	margin-left: 10px;
}

.pad10 {
	padding-bottom: 10px;
}

.tpad10 {
	padding-top: 10px;
}

.font16 {
	font-size: 16px;
}

.font18 {
	font-size: 18px;
}

.font14 {
	font-size: 14px;
}

.clear {
	clear: both;
}

.lll {
	float: left
}

.rrr {
	float: right
}

.txtcenter {
	text-align: center
}

.txtright {
	text-align: right
}

.txtleft {
	text-align: left
}

.blue_b {
	color: #219BFC;
	font-weight: bold
}

.blue_b a {
	color: #219BFC;
	text-decoration: none;
}

.blue_b a:visited {
	color: #219BFC;
	text-decoration: none;
}

.blue_b a:hover {
	color: #E10008;
	text-decoration: none
}

.blue_b a:active {
	color: #219BFC;
	text-decoration: none;
}

.blue {
	color: #219BFC;
	text-decoration: none;
}

.blue a {
	color: #219BFC;
	text-decoration: none;
}

.blue a:visited {
	color: #219BFC;
	text-decoration: none;
}

.blue a:hover {
	color: #E10008;
	text-decoration: none
}

.blue a:active {
	color: #219BFC;
	text-decoration: none;
}

.red_b {
	color: #ff0000;
	font-weight: bold
}

.red {
	color: #ff0000;
}

.yellow66 {
	color: #ff6600;
	text-decoration: none;
}

.green {
	color: #278F00;
	text-decoration: none;
}

.yellow04 {
	color: #FFDF04;
	text-decoration: none;
}

.yellow05 {
	color: #FFFF00;
	text-decoration: none;
}

.yellow14, .yellow14 a, .yellow14 a:visited, .yellow14 a:active {
	color: #A26B14;
	text-decoration: underline;
	font-size: 14px;
	font-weight: bold
}

.yellow14 a:hover {
	color: #A26B14;
	text-decoration: underline
}

.black, .black a, .black a:visited, .black a:active {
	color: #000000;
}

.black a:hover {
	color: #E10008;
	text-decoration: none
}

.black_b {
	color: #000000;
	font-weight: bold
}

.line-through {
	text-decoration: line-through
}

.borD6 {
	border: 1px solid #D6D6D6;
}

.borFC {
	border: 1px solid #FCCE83;
}

.borEB {
	border: 1px solid #EBEBEB;
}

.wincnt {
	display: table;
	width: 300px;
	padding: 20px 0;
	background: #fff;
}

.winpic {
	margin: 0;
}

.winpic dt {
	display: block;
	width: 34px;
	padding: 0 0 0 20px;
}

.winpic dt span {
	display: block;
	height: 33px;
	background:
		url(http://images.d1.com.cn/images2012/New/ui/newdivbgover.gif) -45px
		-95px no-repeat
}

.winpic dt span.confirm {
	background-position: -2px -95px;
}

.winpic dd {
	display: block;
	margin: -30px 0 0 60px;
	color: #333;
	line-height: 20px;
	position: relative;
	word-wrap: break-word;
	word-break: break-all;
}

.dialogdiv {
	width: 100%;
	float: left;
	padding-bottom: 12px;
	color: #3E3E3E;
	font-size: 12px;
}

.dialogdiv01 {
	width: 100%;
	float: left;
	padding: 14px 0px;
	line-height: 24px;
	color: #3E3E3E;
	font-size: 12px;
}

.dialogdiv02 {
	width: 100%;
	float: left;
	padding: 8px 0px 14px 0px;
	color: #3E3E3E;
	font-size: 12px;
}

.layer_button, .layer_button01, .error_div .img01, .error_div .img02,
	.cjgm_img, .layer_buttonbg {
	background:
		url(http://images.d1.com.cn/images2012/New/ui/newdivbg_a.gif)
		no-repeat
}

.layer_button_over, .layer_button_over01, .layer_buttonbg_over {
	background:
		url(http://images.d1.com.cn/images2012/New/ui/newdivbgover.gif)
		no-repeat
}

.layer_button, .layer_button_over {
	width: 91px;
	cursor: pointer;
	border: 0px;
	background-position: -2px -27px;
	font-size: 14px !important;
	text-align: center;
	font-weight: bold;
	color: #A26B14;
	display: inline;
	clear: both;
	padding-top: 5px;
	padding-bottom: 6px;
}

.layer_button01, .layer_button_over01 {
	width: 139px;
	cursor: pointer;
	border: 0px;
	background-position: -2px -60px;
	font-size: 14px !important;
	text-align: center;
	font-weight: bold;
	color: #A26B14;
	display: inline;
	clear: both;
	padding-top: 5px;
	padding-bottom: 6px;
}

.layer_buttonbg, .layer_buttonbg_over {
	width: 91px;
	cursor: pointer;
	border: 0px;
	background-position: -2px -27px;
	font-size: 14px !important;
	text-align: center;
	font-weight: bold;
	color: #A26B14;
	display: inline;
	height: 30px;
	line-height: 30px;
	float: left;
	margin-top: 12px;
	float: left;
	color: #A26B14
}

.cjgm_img {
	background-position: -2px -2px;
	height: 18px;
	width: 24px;
	float: left;
}

/* ï¿½ï¿½Â¼ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½Ê½*/
.login_t {
	margin-left: 10px;
	display: inline
}

.login_t2 {
	margin-left: 94px;
	display: inline
}

.login_t3 {
	margin-left: 88px;
	display: inline
}

.login_line {
	line-height: 44px;
}

.login_input {
	border: 1px solid #A6A6A6;
	width: 200px;
	margin: 8px 0px;
	padding: 4px 0px 4px 6px;
	float: left
}

.l_verify {
	border: 1px solid #A6A6A6;
	width: 80px;
	height: 18px;
	margin: 10px 0px 0px 0px;
	float: left;
	padding-top: 4px;
	padding-left: 6px
}

.GetVerifyImg {
	width: 70px;
	float: left;
	padding-top: 10px;
	margin-left: 10px;
	display: inline
}

.verifyMsg {
	width: 90px;
	float: left;
	font-size: 12px;
	padding-top: 18px;
	display: inline;
}

.login_submit, .login_submit_over {
	width: 91px;
	height: 30px;
	float: left;
	cursor: pointer;
	border: 0px;
	background-position: -5px -153px;
}

/* ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½Ê¾ï¿½ï¿½Ê½*/
.error_div {
	height: 20px;
	float: left;
	padding-right: 10px;
	border: 1px solid #FF8080;
	background: #FFF2F2;
}

.error_t1 {
	padding: 4px 0px 4px 0px
}

.error_t2 {
	line-height: 18px;
}

* html .error_t2 {
	padding: 2px 0px 0px 0px
}

*+html .error_t2 {
	line-height: 22px;
}

.error_div .img01 {
	height: 20px;
	float: left;
	background-position: -31px -3px;
	width: 22px;
	margin-left: 4px;
	display: inline
}

.error_div .img02 {
	height: 20px;
	float: left;
	background-position: -67px -3px;
	width: 22px;
	margin-left: 4px;
	display: inline
}

/* ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½Ê½*/
.layer_w333 {
	width: 417px;
}

.layer_bg {
	background: #FFF5E0;
	padding: 10px;
	float: left
}

.layer_msg {
	padding-bottom: 5px;
	border-bottom: 1px solid #DADADA;
	float: left;
	line-height: 22px;
}

.ui-widget-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ui-widget-overlay {
	background: #aaaaaa
		url(http://images.d1.com.cn/images2012/New/ui/ui-bg_flat_0_aaaaaa_40x100.png)
		50% 50% repeat-x;
	opacity: .60;
	filter: Alpha(Opacity = 60);
}

.ui-dialog {
	position: relative;
	padding: 0em;
	width: 300px;
}

.ui-dialog .ui-dialog-titlebar {
	padding: .5em .3em .5em 1em;
	position: relative;
	font-family: none;
	line-height: normal;
}

.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0 .2em;
}

.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 19px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 18px;
}

.ui-dialog .ui-dialog-titlebar-close span {
	display: block;
	margin: 1px;
}

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus
	{
	padding: 0;
}

.ui-dialog .ui-dialog-content {
	border: 0;
	padding: 0em 1em;
	background: none;
	overflow: auto;
	zoom: 1;
}

.ui-dialog .ui-dialog-content #dialog_content {
	overflow: hidden;
	zoom: 1;
	padding-bottom: 10px;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin: .5em 0 0 0;
	padding: .3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane button {
	float: right;
	margin: .5em .4em .5em 0;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	line-height: 1.4em;
	width: auto;
	overflow: visible;
}

.ui-dialog .ui-resizable-se {
	width: 14px;
	height: 14px;
	right: 3px;
	bottom: 3px;
}

.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}

.ui-widget {
	
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
	{
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
}

.ui-widget-content {
	background: #ffffff
		url(http://images.d1.com.cn/images2012/New/ui/ui-bg_flat_75_ffffff_40x100.png)
		50% 50% repeat-x;
}

.ui-widget-content a {
	
}

.ui-widget-header {
	background: #C21D49
		url(http://images.d1.com.cn/images2012/New/ui/ui-bg_highlight-soft_80_e30100_1x100.png)
		50% 50% repeat-x;
	color: #ffffff;
	font-weight: bold;
}

.ui-widget-header a {
	
}

.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 12px;
}

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default {
	border: 1px solid #d3d3d3;
	font-weight: normal;
	color: #555555;
	outline: none;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited
	{
	color: #555555;
	text-decoration: none;
	outline: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus,
	.ui-widget-content .ui-state-focus {
	border: 1px solid #F59999;
	background: #EF6766;
	font-weight: normal;
	color: #212121;
	outline: none;
	cursor: pointer
}

.ui-state-hover a, .ui-state-hover a:hover {
	color: #212121;
	text-decoration: none;
	outline: none;
}

.ui-state-active, .ui-widget-content .ui-state-active {
	border: 1px solid #E10100;
	background: #E10100;
	font-weight: normal;
	color: #ffffff;
	outline: none;
	cursor: pointer
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
	{
	color: #212121;
	outline: none;
	text-decoration: none;
	cursor: pointer
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #000000
		url(http://images.d1.com.cn/images2012/New/ui/ui-bg_glass_55_fbf9ee_1x400.png)
		50% 50% repeat-x;
	color: #363636;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a {
	color: #363636;
}

.ui-state-error, .ui-widget-content .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec
		url(http://images.d1.com.cn/images2012/New/ui/ui-bg_inset-soft_95_fef1ec_1x100.png)
		50% bottom repeat-x;
	color: #cd0a0a;
}

.ui-state-error a, .ui-widget-content .ui-state-error a {
	color: #cd0a0a;
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text {
	color: #cd0a0a;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled {
	opacity: .35;
	filter: Alpha(Opacity = 35);
	background-image: none;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary {
	font-weight: bold;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary {
	opacity: .7;
	filter: Alpha(Opacity = 70);
	font-weight: normal;
}

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
	background-image:
		url(http://images.d1.com.cn/images2012/New/ui/ui-icons_222222_256x240.gif);
}

.ui-widget-content .ui-icon {
	background-image:
		url(http://images.d1.com.cn/images2012/New/ui/ui-icons_222222_256x240.gif);
}

.ui-widget-header .ui-icon {
	background-image:
		url(http://images.d1.com.cn/images2012/New/ui/ui-icons_222222_256x240.gif);
}

.ui-state-default .ui-icon {
	background-image:
		url(http://images.d1.com.cn/images2012/New/ui/ui-icons_888888_256x240.png);
}

.ui-icon, .ui-state-focus .ui-icon {
	background-image:
		url(http://images.d1.com.cn/images2012/New/ui/ui-icons_454545_256x240.png);
}

.ui-state-active .ui-icon {
	background-image:
		url(http://images.d1.com.cn/images2012/New/ui/ui-icons_454545_256x240.png);
}

.ui-state-highlight .ui-icon {
	background-image:
		url(http://images.d1.com.cn/images2012/New/ui/ui-icons_2e83ff_256x240.png);
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
	background-image:
		url(http://images.d1.com.cn/images2012/New/ui/ui-icons_cd0a0a_256x240.png);
}

.ui-helper-clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ui-helper-clearfix {
	display: inline-block;
}
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix {
	height: 1%;
}

.ui-helper-clearfix {
	display: block;
}

.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.ui-icon {
	width: 16px;
	height: 16px;
	background-image:
		url(http://images.d1.com.cn/images2012/New/ui/ui-icons_222222_256x240.gif);
}

.ui-icon-closethick {
	background-position: -96px -128px;
}

/*ï¿½ï¿½Ò³ï¿½ï¿½Ê½*/
.GPager {
	overflow: hidden;
	_zoom: 1;
	color: #4B4B4B;
	text-align: center;
}

.GPager .span {
	margin-right: 30px;
}

.GPager .rd {
	color: #CC0000;
}

.GPager a {
	font-size: 12px;
	text-decoration: none;
	color: #8B8B8B;
	line-height: 28px;
	padding: 3px 8px 3px 8px;
	border: 1px solid #A4A4A4;
	background-image: url(http://images.d1.com.cn/images2010/pgbg.gif);
	margin: 0 5px;
}

.GPager a:hover {
	color: #AA2E44;
}

.GPager .curr {
	font-size: 12px;
	text-decoration: none;
	color: #8B8B8B;
	line-height: 28px;
	padding: 3px 8px 3px 8px;
	border: 1px solid #A4A4A4;
	background-color: #CDCDCD;
}

/*Í·ï¿½ï¿½Í¨Öªï¿½ï¿½Ê½*/
.top-head-notice {
	width: 980px;
	margin: 5px auto;
	padding: 0px;
	text-align: center;
}

#smenu {
	line-height: 20px;
	background: #fff;
}

#header h1 a {
	background-image: url(http://images.d1.com.cn/Index/images/spring.png);
	background-repeat: no-repeat;
	background-position: -0px -15px;
}

/* Header */
#header h1 a {
	width: 276px;
	height: 83px;
	display: inline-block;
	float: left;
	text-indent: -9999px;
	display: inline-block;
}

#header {
	width: 980px;
	margin: 0px auto;
}

#header .user_help {
	padding-top: 10px;
	margin-left: 300px;
}

#header .user_help a {
	margin: 0 5px;
}

.tel {
	float: right;
	background-position: -91px -1050px;
	height: 50px;
	width: 190px;
	text-indent: -9999px;
	display: inline-block
}

.mobileweb {
	float: right;
	height: 50px;
	width: 60px;
	text-indent: -9998px;
	display: inline-block;
	background-image: url(http://images.d1.com.cn/Index/images/wap.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.mobileweb a {
	height: 50px;
	width: 60px;
	display: inline-block;
	float: left;
	text-indent: -9999px;
	display: inline-block;
}

.pinganlogo {
	float: left;
	background-position: right 10px;
	height: 50px;
	width: 500px;
	text-indent: -9999px;
	display: inline-block;
	background-image:
		url(http://images.d1.com.cn/head2011img/pinganlogo.gif);
	background-repeat: no-repeat;
}

#header .ShowWelcome {
	width: 300px;
}

.testa em {
	height: 14px;
	margin: 4px 0;
	line-height: 14px;
	padding: 0 6px;
	border-right: solid 1px #ccc;
	float: left;
}